body {
  margin: 0;
  background-repeat: no-repeat;
  font: 15px Helvetica, Arial;
}

.font-one{
  background-image: url("../assets/fondo-pastel.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.font-two{
  background-image: url("../assets/fondo-dos.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.format-text {
  background-color: #e9e9e9ec;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 900pt;
  height: 900pt;
  margin-left: auto;
  margin-right: auto;
}

span {
  font-size: 14px;
}

.text-bold {
  font-weight: bolder;
}

button {
  margin-left: 20px;
}


  


